@font-face {
    font-family: 'Open Sans Light';
    src: url('./Open_Sans/static/OpenSans-Light.ttf');
  }

body{
    display: flex;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

.perfil img{
    display: flex;
    margin-top: -680px;
    margin-right: 150px;
    padding: 40px;
    float: right;
    height: 350px;
    width: 480px;
    border-radius: 45px;
}

.area-centro{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans Light', light;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: black;
}

.header h2{
    font-family: 'Open Sans Light', light;
    display: flex;
    line-height: 80px;
    box-sizing: border-box;
    margin-left: 200px; 
}

.text-header h2{
    font-family: 'Open Sans Light', light;
    display: flex;
    line-height: 80px;
    box-sizing: border-box;
    margin-left: 200px;
}

.text h2{
    font-family: 'Open Sans Light', light;
    display: flex;
    line-height: 80px;
    box-sizing: border-box;
    margin-left: 200px;
}

.header p{
    margin-top: -30px;
    font-family: 'Open Sans Light', light;
    width: 30%;
    font-size: 20px;
    margin-left: 200px;
    color: #877c7c;
}

.text-header p{
    margin-top: -30px;
    font-family: 'Open Sans Light', light;
    width: 30%;
    font-size: 20px;
    margin-left: 200px;
    color: #877c7c;
}

.text p{
    margin-top: -30px;
    font-family: 'Open Sans Light', light;
    width: 30%;
    font-size: 20px;
    margin-left: 200px;
    color: #877c7c;
}

.area-esquerda{
    margin-left: 40px;
}

.container{
    display: flex;
    margin-top: -290px;
    margin-right: 185px;
    float: right;
    height: 350px;
    width: 480px;
}

.container h3{
    text-transform: capitalize;
    font-family: 'Open Sans Light', light;
    font-size: 40px;
}

.container h2{
    font-family: 'Open Sans Light', light;
    margin-top: 100px;
    margin-left: -145px;
    font-size: 60px;
}

.text-footer{
    margin-top: 30px;
    margin-left: 200px;
    font-family: 'Open Sans Light', light;
    text-transform: capitalize;
    color: rgb(214, 194, 168);
} 

nav{
    background-color: #2f323a;
    width: 235px;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    padding-top: 30px;
    transition-delay: 0.8s;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 23px;
    line-height: 95px;
    margin-top: 70px;
    transition: 0.5s;
}

nav a:hover{
    background-color: #cbc4c4;
    transition: 1.0s;
}

#btnMenu:hover{
    margin-left: 5px;
    transition: 0.5s;
}

#chkMenu{
    display: none;
}

#btnMenu{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: fixed;
    left: 12px;
    top: 25px;
}

#chkMenu:checked~nav{
    left: -190px;
}

#chkMenu:checked~nav a{
    font-size: 22px;
    margin-left: 175px;
}

#chkMenu:checked~nav span{
    display: none;
}

#chkMenu:checked~nav a span{
    transition-delay: 2.0s;
}
